[Unit]
Description=Install prucam kernel module

[Service]
Type=oneshot
User=root
ExecStart=/bin/sleep 20
ExecStart=insmod /usr/src/prucam/prucam.ko

[Install]
WantedBy=multi-user.target
